{% extends 'productos/base.html' %}

{% block title %}Detalle del producto{% endblock %}

{% block content %}

<h2>{{ producto.nombre }}</h2>

<p><strong>Categoría:</strong> {{ producto.categoria }}</p>

<p>
    <strong>Estatus:</strong>
    {% if producto.activo %}
        Activo
    {% else %}
        Inactivo
    {% endif %}
</p>

<hr>

<p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
<p><strong>Precio:</strong> ${{ producto.precio }}</p>
<p><strong>Stock:</strong> {{ producto.stock }}</p>
<p><strong>Creado:</strong> {{ producto.fecha_creacion }}</p>

<a href="{% url 'editar_producto' producto.pk %}">Editar</a>
<a href="{% url 'eliminar_producto' producto.pk %}">Eliminar</a>
<a href="{% url 'lista_productos' %}">Volver</a>

{% endblock %}